* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h1 {
    color: red;
}

header {
    border-bottom: 1px solid seashell;
}

nav li {
    text-decoration: underline;
}