/* General Formatting */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

main {
    position: relative;
    top: 69px;

}

/* Header formatting */

h1 {
    color: red;
}

h2 {
    font-weight: bolder;
}

header {
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    height: 69px;
    display: flex;
    width: 100%;
    z-index: 2;
    opacity: 1;
    background-color: black;
}

header img {
    height: 50px;
    margin: 10px;
    
}

nav {
    height: 69px;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    color: seashell;
    display: inline-block;
    text-decoration: underline;
    text-align: right;
    margin: auto 10px;
}

nav li {
    text-align: right;
    list-style: none;
    display: inline-block;
}

nav a:visited {
    color: seashell;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    color: gray;
}


/* Mission formatting */

section.mission {
    background-image: url("Resources/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mission .banner {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: black;
    text-align: center;
}

.mission h2, 
.mission h4 {
    margin: 10px;
    padding: 5px;
}



/* Tea of the Month formatting */

.month {
    width: 100%;
    font-weight: bolder;
    margin: 100px auto;
}

.month div.container  {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.month div.container div {
    margin: 10px;
}

.month div.container p {
    margin: 10px;

}

.month img {
    height: 200px;
    width: 300px;
    justify-items: center;
    align-content: space-between;
}

.month h2 {
    margin-bottom: 20px;
}

.month h2+p {
    margin: 15px;
}

/* Locations formatting */

section.locations {
    display: flex;
    flex-direction: column;
    height: 575px;
    width: 1200px;
    background-image: url("Resources/img-locations-background.jpg");
    justify-content: center;
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.locations h2 {
    margin-bottom: 15px;
}

.locations div.addr {
    display: flex;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: black;
    text-align: center;
    flex-direction: column;
}

div.addr-container {
    display: flex;    
    align-content: center;
    justify-content: space-around;
    width: 980px;
    order: 1;
    margin: 0 auto;

}

div.addr {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
}

.addr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}


/* Footer formatting */

footer {
    position: relative;
    bottom: -200px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    /* text-align: center; */
    height: 200px;
}

.copyright {
    margin: 20px;
    text-align: left;
    font-size: smaller;
}